*,::after,::before {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background-color: #ffffff;
}

@font-face {
    src: url(DelaGothicOne.ttf);
    font-family: delagothic;
}

@font-face {
    font-family: montserrat;
    src: url(Montserrat.ttf);
}

nav {
    background-color: #F6F5F4;
    height: 84px;
    display: flex;
    align-items: center;
}

.div1 {
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.div1-1 {
    width: 1180px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.globaltalk {
    font-family: delagothic;
    font-style: normal;
    font-weight: 400;
    font-size: 20.8609px;
    text-decoration: none;
    color: black;
}

.home {
    position: relative;
    font-family: montserrat;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    text-decoration: none;
    color: #757575;
    margin-left: 60px;
}

.home::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 2px;
    width: 0%;
    background-color: #000000;
    transition: all .2s;
}

.home:hover {
    color: #000000;
}

.home:hover::after {
    width: 100%;

}

.textbook {
    position: relative;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    font-family: montserrat;
    margin-left: 30px;
    text-decoration: none;
    color: #757575;
}
.textbook::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 2px;
    width: 0%;
    background-color: #000000;
    transition: all .2s;
}

.textbook:hover {
    color: #000000;
}

.textbook:hover::after {
    width: 100%;
}

.statistics {
    position: relative;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    font-family: montserrat;
    margin-left: 30px;
    text-decoration: none;
    color: #757575;
}

.statistics::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 2px;
    width: 0%;
    background-color: #000000;
    transition: all .2s;
}

.statistics:hover {
    color: #000000;
}

.statistics:hover::after {
    width: 100%;
}

.games {
    position: relative;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    font-family: montserrat;
    margin-left: 30px;
    text-decoration: none;
    color: #757575;
}

.games:hover {
    color: #000000;
}

.games::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 2px;
    width: 0%;
    background-color: #000000;
    transition: all .2s;
}

.games:hover::after {
    width: 100%;
}

/* DropDown Menu */

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: #F6F5F4;
    padding: 16px;
    font-size: 16px;
    border: none;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    width: 215px;
    height: 92px;
    left: 45px;
    min-width: 160px;
    border-radius: 14px;
    box-shadow: 0px 343.472px 343.472px rgba(52, 41, 39, 0.08), 
    0px 183.185px 183.185px rgba(52, 41, 39, 0.12), 
     0px 91.5925px 91.5925px rgba(52, 41, 39, 0.04),
      0px 68.6944px 68.6944px rgba(52, 41, 39, 0.04),
       0px 11.4491px 68.6944px rgba(52, 41, 39, 0.04),
        0px 11.4491px 11.4491px rgba(52, 41, 39, 0.04);
    z-index: 1;
  }

  .dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {color: #000000;}

  .dropdown:hover .dropdown-content {display: block;}

  .dropdown:hover .dropbtn {background-color: #F6F5F4;}
  
  .sprint {
    font-family: montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    padding-left: 20px;
    padding-top: 20px;
    color: #828282;
  }
  .audiocall {
    font-family: montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #828282;
  }

  /*sign in & sign up */

.div2 {
    display: flex;
    margin-left: auto;
}

.login {
    background-color: #F6F5F4;
    font-family: montserrat;
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    border: none;
    color: #828282;
    position: relative;
}

.signup {
    position: relative;
    margin-left: 21px;
    background-color: #2B788B;
    width: 90px;
    height: 36px;
    border: 1px solid #2B788B;
    border-radius: 12px;
    font-family: montserrat;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    color: #ffffff;
}

.signup:hover {
    background-color: transparent;
    color: #2B788B;
}

.login:hover {
    color: #000000;
}

/* E-Course Platform */

.div3 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F6F5F4;
}

.div3-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1180px;
    margin: 0 auto;
}

.title {
    margin: 0 auto;
    width: 100%;
}

.h3-1 {
    margin: 0;
    font-family: 'montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #2B788B;
    padding-top: 94.61px;
}

.h1-1 {
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    font-family: delagothic;
    padding-top: 24px;
    color: #000000;
    margin: 0;
}

.p1 {
    font-family: 'montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #757575;
    padding-top: 30px;
    margin: 0;
}

.div4 {
    margin: 0 auto;
    width: 100%;
}

.group4 {
    margin: 0;
    padding: 0;
}

.aboutplatform {
    width: 165px;
    height: 44px;
    margin-top: 32px;
    background-color: #C3DCE3;
    border: none;
    border-radius: 100px;
    font-family: 'montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #2B788B;
}

.aboutplatform:hover {
    background-color: #F6F5F4;
    border: 1px solid #2B788B;
}

.w600{
    padding-top: 48.72px;
    padding-bottom: 134.61px;
}

.plus2 {
    padding-left: 101.51px;
}

/* მეორე კონტეინერი */

.div5 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.div5-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1180px;
    margin: 0 auto;
    padding-top: 77.5px;
    padding-bottom: 77.5px;
}

.girl1 {
    width: 580px;
    height: 445px;
}

.title2 {
    margin: 0 auto;
    padding-left: 100px;
}

.h1-2 {
    font-family: delagothic;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    color: #000000;
    margin: 0;
}

.sprintpng {
    padding-top: 30.5px;
}

/* მესამე კონტეინერი*/

.div6 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F6F5F4;
}

.div6-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1180px;
    margin: 0 auto;
}

.title3 {
    margin: 0 auto;
    padding-bottom: 110px;
    padding-top: 136px;
    padding-right: 110px;
}

.incre {
    font-family: delagothic;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    color: #000000;
    margin: 0;

}

.p2 {
    font-family: 'montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #757575;
    padding-top: 30px;
}

.textbook1 {
    width: 131px;
    height: 44px;
    border: none;
    border-radius: 100px;
    background-color: #C3DCE3;
    color: #2B788B;
    font-family: 'montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    margin-top: 34px;
}

.textbook1:hover {
    background-color: #F6F5F4;
    border: 1px solid #2B788B;
}

.girl2 {
    width: 580px;
    height: 473.97px;
    padding-top: 26px;
}

/* მეოთხე კონტეინერი */

.div7 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.div7-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1180px;
    margin: 0 auto;
}

.boygirl {
    width: 680px;
    height: 409.25px;
    padding-top: 95.37px;
}

.title4 {
    padding-top: 149px;
    padding-left: 20px;
    padding-bottom: 149px;
}

.progress {
    font-family: delagothic;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    color: #000000;
    margin: 0;
}

.p3 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #757575;
    padding-top: 30px;
}

.statistics0 {
    border: none;
    border-radius: 100px;
    background-color: #C3DCE3;
    width: 129px;
    height: 44px;
    margin-top: 34px;
    font-family: 'montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #2B788B;
}

.statistics0:hover {
    background-color: #ffffff;
    border: 1px solid #2B788B;
}

/* ბოლო კონტეინერი */

.footer {
    background-color: #F6F5F4;
    height: 160px;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 15px;
}

.div8 {
    width: 1180px;
    display: flex;
    padding: 15px;
}

.line {
    display: flex;
    align-items: center;
    margin: 0;
    width: 100%;
    height: 50%;
}

.links {
    width: 100%;
    display: flex;
    align-items: center;
}

.names {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    margin-left: auto;
}

.line2 {
    display: flex;
    align-items: center;
    width: 100%;
    height: 50%;
    margin: 0;
}